html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
canvas {
  background-color: black;
}

#container {
  margin: 0 auto;
  width: 480px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

#name {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  color: white;
  display: block;
  border: none;
  border-radius: 4px;
  width: 175px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 769px) {
  #form {
    margin-top: 50px;
  }
}

*:focus {
  outline: none;
}

#play {
  background: #e04c2c;
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 15px 12px;
  width: 150px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

#lost-button {
  background: #e04c2c;
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 15px 12px;
  width: 150px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  color: black;
}
